body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 49pt;
}

#message-el {
    font-style: italic;
}



button#newGame, button#hitMe, button#refresh, button#stay {
    background-color: #daa325;
    color: green;
    border-color: green;
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23pt
}

button#hitMe {
    margin-top: 10px;
}

.hideBtn {
    display: none;
}

p.displaySide {
    font-size: 40pt;
}

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}